{% extends 'base.html' %}

{% block titulo %}
    - Solicitudes
{% endblock titulo %}

{% block contenido %}
    {% if solicitudes %}
    <div class="overflow-x-auto relative sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Usuario
                    </th>
                    <th scope="col" class="py-3 px-6" style="text-align:end;">
                        Rechazar
                    </th>
                    <th scope="col" class="py-3 px-6" style="text-align:end;">
                        Aceptar
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud in solicitudes %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{solicitud.user}}
                    </th>
                    <td class="py-4 px-6" style="text-align:end;">
                        <a href="{% url 'delete_request' solicitud.id solicitud.user.id solicitud.user %}" class="font-medium text-red-600 dark:text-red-500 delete-btn material-icons">
                            delete
                        </a>
                    </td>
                    <td class="py-4 px-6" style="text-align:end;">
                        <a href="{% url 'accept_request' solicitud.user.id solicitud.user %}" class="font-medium text-blue-600 dark:text-blue-500 done-btn material-icons">
                            done
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'componentes/includes/pagination.html' with page=solicitudes %}
    {% else %}
        <h1 style="text-align: center;font-size: 1.4em;">No hay solicitudes</h1>
    {% endif %}

{% endblock contenido %}